<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>learn</display-name>
    <display-name>Archetype Created Web Application</display-name>
    
      <!-- start Servlet配置学习 -->
	  <servlet>
	    <servlet-name>PathServlet</servlet-name>
	    <servlet-class>com.learn.web.projectpath.PathServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>PathServlet</servlet-name>
	    <url-pattern>/path.action</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>ConfigServlet</servlet-name>
	    <servlet-class>com.learn.servletconfig.ConfigServlet</servlet-class>
	    <init-param>
	      <param-name>donwloadPath</param-name>
	      <param-value>/user/downloadPath</param-value>
	    </init-param>
	    <init-param>
	      <param-name>name</param-name>
	      <param-value>root</param-value>
	    </init-param>
	    <init-param>
	      <param-name>password</param-name>
	      <param-value>111111111</param-value>
	    </init-param>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>ConfigServlet</servlet-name>
	    <url-pattern>/config.action</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>ConfigDemo2Servlet</servlet-name>
	    <servlet-class>com.learn.servletconfig.ConfigDemo2Servlet</servlet-class>
	    <init-param>
	      <param-name>donwloadPath</param-name>
	      <param-value>/user/downloadPath</param-value>
	    </init-param>
	    <init-param>
	      <param-name>name</param-name>
	      <param-value>root</param-value>
	    </init-param>
	    <init-param>
	      <param-name>password</param-name>
	      <param-value>111111111</param-value>
	    </init-param>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>ConfigDemo2Servlet</servlet-name>
	    <url-pattern>/config2.action</url-pattern>
	  </servlet-mapping>
	  <!-- end Servlet配置学习 -->
  
  
      <!-- start 消息前后台展示学习配置 -->
	  <servlet>
	    <servlet-name>ListServlet</servlet-name>
	    <servlet-class>com.message.servlet.ListServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>ListServlet</servlet-name>
	    <url-pattern>/list.action</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>DeleteOneServlet</servlet-name>
	    <servlet-class>com.message.servlet.DeleteOneServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>DeleteOneServlet</servlet-name>
	    <url-pattern>/deleteOne.action</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>DeleteBatchServlet</servlet-name>
	    <servlet-class>com.message.servlet.DeleteBatchServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>DeleteBatchServlet</servlet-name>
	    <url-pattern>/deleteBatch.action</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>CreateServlet</servlet-name>
	    <servlet-class>com.message.servlet.CreateServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>CreateServlet</servlet-name>
	    <url-pattern>/create.action</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>EditServlet</servlet-name>
	    <servlet-class>com.message.servlet.EditServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>EditServlet</servlet-name>
	    <url-pattern>/edit.action</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>SaveServlet</servlet-name>
	    <servlet-class>com.message.servlet.SaveServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>SaveServlet</servlet-name>
	    <url-pattern>/save.action</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>InitTalkServlet</servlet-name>
	    <servlet-class>com.message.servlet.InitTalkServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>InitTalkServlet</servlet-name>
	    <url-pattern>/inittalk.action</url-pattern>
	  </servlet-mapping>
	  <servlet>
	    <servlet-name>AutoReplyServlet</servlet-name>
	    <servlet-class>com.message.servlet.AutoReplyServlet</servlet-class>
	  </servlet>
	  <servlet-mapping>
	    <servlet-name>AutoReplyServlet</servlet-name>
	    <url-pattern>/AutoReplyServlet.action</url-pattern>
	  </servlet-mapping>
	  <!-- end 消息前后台展示学习配置 -->
  
      
    
    
    
</web-app>
